@using ASTRA.EMSG.Web.Infrastructure.HtmlHelperExtensions
@using Resources
@using System.Linq
@model ASTRA.EMSG.Business.Models.Strassennamen.ImportResultModel<ASTRA.EMSG.Business.Models.Strassennamen.ZustandsabschnittImportModel, ASTRA.EMSG.Business.Models.Strassennamen.ZustandsabschnittImportOverviewModel>
<fieldset class="popupFormFieldset">
    <hr />
    <br />
    @if (Model.Warnings.Any())
    {
        <span>@NotificationLocalization.ImportZustandsabschnittWarningTitle</span>
        <br />
        <br />
        foreach (var warning in Model.Warnings)
        {
            <span style="color: orange">@warning</span><br />
        }
        <br />
        <br />
    }
    @if (Model.Errors.Any())
    {
        <span>@NotificationLocalization.ImportZustandsabschnittErrorTitle</span>
        <br />
        <br />
        foreach (var error in Model.Errors)
        {
            <span style="color: red">@error</span><br />
        }
        <br />
        <span>@NotificationLocalization.ImportZustandsabschnittErrorHelp</span>
    }
    else
    {
        <span>@NotificationLocalization.ImportZustandsabschnittSuccessful</span>
    }
    <br />
    <hr />
    <br />
    <div class="popupFormButtons">
        @Html.BackToOverviewButton("zustandsabschnittImport.closeImportWindow()")
    </div>
</fieldset>
<div class="helpButton">@Html.HelpButtonFor("Import")</div>
