@using ASTRA.EMSG.Business.Models.Strassennamen
@using ASTRA.EMSG.Common
@using ASTRA.EMSG.Web.Infrastructure.HtmlHelperExtensions
@using Kendo.Mvc.UI
@using Resources
@model ImportResultModel<ZustandsabschnittImportModel, ZustandsabschnittImportOverviewModel>
<fieldset class="popupFormFieldset">
    <div>@NotificationLocalization.ZustandsabschnittImportCommitInformation</div>
    <div style="margin-top: 15px">
        <b>@TitleLocalization.ZustandsabschnittImportCommitCreateListSubTitle</b>
    </div>
    @(Html.Kendo().Grid<ZustandsabschnittImportOverviewModel>()
          .Name("ZustandsabschnittCreateImportOverviewGrid")
          .ApplyEmsgSettings(pageable: false, filterable:false, editable:false)
          .DataSource(dataBinding => dataBinding
              .Ajax()
              .Read(c => c.Action("GetAllCreateImportOverviewModel", "ZustandsabschnittImport")))
          .Columns(columns =>
          {
              columns.Bound(m => m.Abschnittsnummer).Title(GridHeaderFooterLocalization.Abschnittsnummer);
              columns.Bound(m => m.Strassenname).Title(GridHeaderFooterLocalization.Strassenname);
              columns.Bound(m => m.StrassennameBezeichnungVon).Title(GridHeaderFooterLocalization.StrassennameBezeichnungVon);
              columns.Bound(m => m.StrassennameBezeichnungBis).Title(GridHeaderFooterLocalization.StrassennameBezeichnungBis);
              columns.Bound(m => m.BezeichnungVon).Title(GridHeaderFooterLocalization.BezeichnungVon);
              columns.Bound(m => m.BezeichnungBis).Title(GridHeaderFooterLocalization.BezeichnungBis);
              columns.Bound(m => m.Zustandsindex).Title(GridHeaderFooterLocalization.ZustandsindexFahrbahn).Format(FormatStrings.ShortDecimalFormat).AlignRight();
              columns.Bound(m => m.Aufnahmedatum).Title(GridHeaderFooterLocalization.Aufnahmedatum).Format(FormatStrings.ShortDateTimeFormat);
          }))
    <div style="margin-top: 15px">
        <b>@TitleLocalization.ZustandsabschnittImportCommitUpdateListSubTitle</b>
    </div>
    @(Html.Kendo().Grid<ZustandsabschnittImportOverviewModel>()
          .Name("ZustandsabschnittUpdateImportOverviewGrid")
          .ApplyEmsgSettings(pageable: false, filterable: false, editable: false)
          .DataSource(dataBinding => dataBinding
              .Ajax()
              .Read(c => c.Action("GetAllUpdateImportOverviewModel", "ZustandsabschnittImport")))
          .Columns(columns =>
          {
              columns.Bound(m => m.Abschnittsnummer).Title(GridHeaderFooterLocalization.Abschnittsnummer);
              columns.Bound(m => m.Strassenname).Title(GridHeaderFooterLocalization.Strassenname);
              columns.Bound(m => m.StrassennameBezeichnungVon).Title(GridHeaderFooterLocalization.StrassennameBezeichnungVon);
              columns.Bound(m => m.StrassennameBezeichnungBis).Title(GridHeaderFooterLocalization.StrassennameBezeichnungBis);
              columns.Bound(m => m.BezeichnungVon).Title(GridHeaderFooterLocalization.BezeichnungVon);
              columns.Bound(m => m.BezeichnungBis).Title(GridHeaderFooterLocalization.BezeichnungBis);
              columns.Bound(m => m.Zustandsindex).Title(GridHeaderFooterLocalization.ZustandsindexFahrbahn).Format(FormatStrings.ShortDecimalFormat).AlignRight();
              columns.Bound(m => m.Aufnahmedatum).Title(GridHeaderFooterLocalization.Aufnahmedatum).Format(FormatStrings.ShortDateTimeFormat);
          }))
    <div class="popupFormButtons">
        <div style="display: table-cell;">
            @Html.UnobtrusiveCommitImportButton()
        </div>
        <div style="display: table-cell;">
            @Html.UnobtrusiveCancelImportButton()
        </div>
    </div>
</fieldset>
<div class="helpButton">@Html.HelpButtonFor("Import")</div>
<div id="importParameters" style="display: none" data-import-widow-close-confirmation="@(NotificationLocalization.CancelImportConfirmation)">
</div>
