@using ASTRA.EMSG.Common.Enums
@model ZustandProZustandsabschnittGridCommand
@using ASTRA.EMSG.Web.Areas.Auswertungen.ReportGridCommands
@using ASTRA.EMSG.Web.Infrastructure.HtmlHelperExtensions
@using Resources
@{
    ViewData.Model = new ZustandProZustandsabschnittGridCommand();
}

<div id="formDiv">

    <div id="filters">
        @Html.Hidden("ErfassungsPeriod", Model.ErfassungsPeriodId)

        <div style="margin-top: 5px"><b>@TitleLocalization.Filter</b></div>

        @(Html.ToGridFilterBuilder<ZustandProZustandsabschnittGridCommand>()
          .WithIntEnumFilter<EigentuemerTyp>(m => m.Eigentuemer, filterFunction: "gisReport.form.refreshGrid")
          .WithTextFilter(m => m.Strassenname, triggerOn3Char: true)
          .WithDecimalFilter(m => m.ZustandsindexVon, 1)
          .WithDecimalFilter(m => m.ZustandsindexBis, 1)
          .WithTextFilter(m => m.Ortsbezeichnung)
          .WithFilterButton(true, "gisReport.form.refreshGrid"))
    </div>
    @ReportViewHelpers.GisReportButtons(Html, (NetzErfassungsmodus)ViewBag.NetzErfassungsmodus)

    <div class="scrollable-grid-border">
        <div class="scrollable-grid">
            @Html.Partial("ZustandProZustandsabschnittGrid", "ZustandProZustandsabschnitt")
        </div>
    </div>

</div>
