@using Resources
@model ASTRA.EMSG.Business.Models.Identity.ChangePasswordModel

<div>
    <h2>@ModelLocalization.PasswortAndern</h2>

    @using (Html.BeginForm())
    {
        <div style="width: 400px">@Html.ValidationSummary()</div>

        <p>@Html.PasswordFor(m => m.OldPassword, new { @placeholder = @ModelLocalization.AltesPasswort, @style = "width: 200px" })</p>
        <p>@Html.PasswordFor(m => m.NewPassword, new { @placeholder = @ModelLocalization.NeuesPasswort, @style = "width: 200px" })</p>
        <p>@Html.PasswordFor(m => m.NewPasswordCopy, new { @placeholder = @ModelLocalization.NeuesPasswortNochmal, @style = "width: 200px" })</p>
        <p>
            <button type="submit">@ButtonLocalization.Apply</button>
        </p>
    }
</div>
